<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="resource/css/base.css" rel="stylesheet" type="text/css" />
<link href="resource/css/welcome.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="pr" style="width:10224px;height:2880px;"> 
		<a href="/index01">
		<div class="welcomeText z5">
				<p>热烈欢迎<span th:text="${welcome}">各位领导</span></p>
				<p>莅临公司指导工作!</p>
		</div>
		</a> 
		<!--装饰图案区开始-->
		<div class="welcomePic_logo z2"></div>
		<div class="welcomePic_mid z2"></div>
		<div class="welcomePic_sun z2"></div>
		<div class="welcomeBg01 z1"></div>
		<!--装饰图案区结束--> 
</div>
</body>
</html>
