<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>job列表</title>
<script type="text/javascript" src="js/common/jquery.min.js"></script>
<script type="text/javascript" src="js/job/jobHome.js"></script>
</head>
<body>

<div style="height:30px;margin-bottom:30px;">
	<button style="margin:20px 20px;">add</button>
</div>

<div>
	<table id="tb" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th width=150>id</th>
			<th width=150>className</th>
			<th width=150>cronExpression</th>
			<th width=150>jobName</th>
			<th width=150>jobGroup</th>
			<th width=150>triggerName</th>
			<th width=150>triggerGroup</th>
			<th width=150>pause</th>
			<th width=150>enable</th>
			<th width=150>description</th>
			<th width=150>createTime</th>
			<th width=150>lastUpdateTime</th>
		</tr>
		
	</table>

</div>

</body>
</html>